<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Productos en linea</title>
</head>
<body>
  <h1>Productos con disponibilidad</h1>
  <ul id="product-list">
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('connect', async () => {
      console.log('Connected to Socket.IO');
      socket.emit('getProducts');
    });

    socket.on('products', (data) => {
      const productList = document.getElementById('product-list');
      productList.innerHTML = '';
      data.forEach((product) => {
        const productItem = document.createElement('li');
        productItem.innerText = `${product.name} - $${product.price}`;
        productList.appendChild(productItem);
      });
    });
  </script>
</body>
</html>
